<h3>Instituutiot</h3> 
<p>Instituution hallinta -sivu mahdollistaa sinulle palvelussa olevien
nykyisten ja uusien instituution muokkauksen. Instituutiot ovat suurelta osin
paikkoja käyttäjille, joilla on omat pääkäyttäjät ja ylläpitäjät jättäen
palveluntarjoajalle vapauden hoitaa palvelun ylläpidon.</p> 

