<h3>Lisäosien hallinnointi</h3> 
<p>Lisäosien hallinnoinnissa on listaus kaikista niistä tämänhetkisistä
plugeneista, jotka on asennettu ePortfolio-palveluusi. Listauksessa on linkki
pluginin asennusasetuksiin palvelun muokkausta varten, mikäli se on
käytössä.</p> 

