<h3>Palvelun asetukset</h3> 
<p>Mahara-asennuksen ydinsivut voidaan muokata dynaamisesti palveluntarjoajan
toimesta. Jos haluat muokata ydinsivujen (Tietoa Maharasta, Aloitussivu,
Kirjaudu ulos, Yksityisyyden suoja, Käyttöehdot ja  Tekijänoikeuslausunto)
sisältöä oletuksesta, valitse sivu jota haluat muokata ja käytä HTML-editoria.
Varmista, että tallennat muutokset ennen kuin lataat toisen muokattavan sivun
tai poistut Palvelun asetukset -osiosta.</p> 

