<h3>Linkit ja resurssit valikko</h3> 
<p>Mahara-asennuksessa on mahdollista saada näkyviin Linkit ja Resurssit
valikko sekä julkiseksi että sisäänkirjautuneille käyttäjille. Tämä valikko
näytetään kaikille käyttäjille useimmilla sivuilla mahdollistaen hyödyllisten
ja tärkeiden sivujen ja dokumenttien linkityksen.</p> 

