<h3>Käyttäjähaku</h3> 
<p>Hallinnointi puolen Käyttäjähaku toimii aivan samalla tavalla kuin palvelun
yleisellä puolella. Pääkäyttäjät voivat kuitenkin nähdä mihin instituutioon
käyttäjä on liitetty ja hän voi lukita käyttäjiä.</p> 

