<h3>Päivitä käyttäjätiedot sisäänkirjautumisessa</h3> 
<p>Jos tämä on asetettu, silloin käyttäjän etunimi, sukunimi ja
sähköpostiosoite päivitetään Identity Provider (IdP) arvojen mukaisiksi.</p> 

