<h3>Instituution tarkistusarvo</h3> 
<p>Arvo, jolla tarkastetaan Identity Providerilta (IdP) saatu instituution nimi.  
Se näyttää mihin instituutioon
käyttäjät kuuluvat. Jos "Instituution Regex" on valittuna, silloin tämä arvo voi
olla säännöllinen lauseke.</p> 

