<h3>Yksikäsitteinen nimi</h3> 

<p>Jos haluat käyttää sidoskäyttäjää etsiäksesi käyttäjiä, määrittele se tässä.
Jotain esim. 'cn=ldapuser,ou=public,o=org'. Jätä tämä tyhjäksi anonyymille
sidokselle.</p> 
