<h3>Viestit muilta käyttäjiltä</h3>
<p>Käytä näitä asetuksia valitaksesi keneltä haluat saada viestejä.</p>
<p>Määrittele Tiedotteiden tilausasetukset -sivulla kuinka haluat saada näitä
viestejä.</p>
<p><strong>Huom:</strong> Nämä rajoitukset eivät koske palveluntarjoajaa tai
opetushenkilökuntaa.</p> 

