<h3>Ryhmätyyppi</h3> 
<p>Voit valita, miten muut käyttäjät voivat liittyä ryhmääsi.</p>  

<h6>Avoin kaikille käyttäjille</h6> 
<p>Asettamalla ryhmätyypiksi Avoin kaikille käyttäjille, sallit kenen tahansa palvelun käyttäjän liittyä ryhmän jäseneksi yksinkertaisesti vierailemalla ryhmäsi sivulla ja klikkaamalla Liity tähän ryhmään -painiketta.</p>  

<h6>Jäsenyys pyynnöstä</h6> 
<p>Asettamalla ryhmätyypiksi Jäsenyys pyynnöstä tarkoittaa, että kuka tahansa käyttäjä voi pyytää pääsyä ryhmääsi. Ryhmän omistajana voit kuitenkin valita hyväksytkö vai hylkäätkö pyynnön. Pyynnön tehnyt käyttäjä saa automaattisesti tiedon päätöksestäsi.</p>  

<h6>Vain kutsutuille käyttäjille</h6> 
<p>Asettamalla ryhmätyypiksi "Vain kutsutuille käyttäjille" tarkoittaa, että vain käyttäjät, joille olet lähettänyt kutsun, voivat liittyä ryhmääsi.</p>  

<h6>Kontrolloitu jäsenyys</h6> 
<p>Kontrolloitu jäsenyys on käytössä vain pääkäyttäjille ja ylläpitäjille. Se mahdollistaa ryhmän jäsenten lisäämisen ja poistamisen suoraan.</p> 
<p>Käyttäjät eivät voi poistaa itseään kontrolloidusta ryhmästä.</p>  

<h4>Kurssiryhmät</h4> 
<p>Kurssiryhmät on erikoisryhmätyyppi ja sen voi luoda ainoastaan pääkäyttäjä ja palvelun ylläpitäjä.</p> 
<p>Kurssiryhmissä on tavallisten jäsenten lisäksi tuutoreita. Kaikki kurssiryhmän jäsenet voivat julkaista näkymiään ryhmälle tuutoreiden arvioitavaksi. Kun tuutorit antavat palautetta julkaistusta näkymästä, he voivat lisätä palautteeseen tiedoston, joka on näkyvä ainoastaan näkymän tekijälle.</p> 

<p>Kurssiryhmiä on kahdenlaisia:</p> 

<h6>Kurssi: Jäsenyys pyynnöstä</h6> 
<p>Käyttäjät voivat liittyä ryhmään pyytämällä ryhmän jäsenyyttä kuten edellä on kuvattu kohdassa Jäsenyys pyynnöstä.</p>  

<h6>Kurssi: Kontrolloitu jäsenyys</h6> 
<p>Kurssiryhmän Kontrolloitu jäsenyys mahdollistaa ryhmän pääkäyttäjille lisätä ja poistaa käyttäjiä suoraan ryhmästä. Tuutorit voivat ainoastaan lisätä käyttäjiä suoraan. </p> 
<p>Tämä on suunniteltu käyttöön kurssipohjaiselle ryhmälle, jossa jäsenyys on määritelty ulkoisessa järjestelmässä (kuten instituution ilmoittautumisjärjestelmässä) ja haluat kopioida jäsenyyden ryhmään.</p> 
<p>Käyttäjät eivät voi poistaa itseään kontrolloidusta ryhmästä.</p> 

