<h3>Tunnistusmenetelmä</h3> 
<p>Kaikilla käyttäjillä on yksi ensisijainen tunnistusmenetelmä ePortfolioon.
Joissakin tietyissä tapauksissa käyttäjillä voi olla toissijainen
tunnistusmenetelmä, mutta suurimmassa osassa tapauksia menetelmiä on vain
yksi.</p> 
<p>Tästä voit valita mitä mekanismia käytetään ePorfolion tunnistusmenetelmänä.
Useimmiten sinun ei tarvitse koskea tähän, kun se on asetettu sinulle
oikein.</p> 
<p>Joissakin tapauksissa voit ehkä tarvita erilaisen menetelmän verrattuna
aiemmin käytettyyn menetelmään käyttäjän tunnistamiseksi ePortfoliossa.
Esimerkiksi jos aiemmin on käytetty LDAPia mutta LDAP-serveri ei enää tunnista
käyttäjää ja käyttäjä haluaa päästä edelleen käyttäjätililleen, voit käyttää
erilaista menetelmää kuten "sisäinen (ei instituutiota)". Käyttäjällä on tämän
jälkeen mahdollisuus kirjautua suoraan ePortfolioon käyttämättä LDAP-serveriä -
vaikka sinun tulisi käyttää "vaihda salasana" äkenttää yläpuolella valitaksesi
alkuperäisen salasanan käyttäjälle.</p> 

