<h3>Lukitut kentät</h3> 
<p>Kukin instituutio voi määrittää mitä kenttiä tilin omistaja ei pysty
muokkaamaan profiilistaan. Esimerkkejä lukituista kentistä ovat turvallisuuden
ja täsmällisyyden vuoksi: Etunimi, Sukunimi ja Opiskelija ID.</p> 

