<h3>Instituution erääntymispäivä</h3> 
<p>Jos määrität instituutiolle erääntymispäivän, tapahtuu kaksi asiaa. Kun
<em>Varoaika ennen instituution voimassaolon erääntymistä</em> on saavutettu,
instituution pääkäyttäjät saavat sähköpostiviestin, jossa kerrotaan, että
instituution voimassaolo on lähestymässä päättymistään.</p> 
<p>Jos <em>Lukitse automaattisesti vanhentuneet instituutiot</em> asetus on
määritetty, ja erääntymispäivä on saavutettu, instituutio lukitaan
automaattisesti ja instituution käyttäjät eivät enää pääse kirjautumaan
sisään.</p> 
<p><em>Varoaika ennen instituution voimassaolon erääntymistä</em>
ja <em>Lukitse automaattisesti vanhentuneet instituutiot </em> -asetukset löytyvät
Palvelun asetuksista.</p> 
 

