<h3>Oletusjäsenyysjakso</h3> 
<p>Voit asettaa kuinka kauan käyttäjät ovat instituution jäsenenä.
Jäsenyysjakson jälkeen käyttäjät poistetaan instituutiosta.</p> 
<p>Käyttäjät saavat muistutussähköpostin ennen kuin poistaminen tehdään.</p> 

