<h3>Teema</h3> 
<p>Teema, jonka sisäänkirjautuneet käyttäjät ja instituution jäsenet näkevät. 
Jos <strong>Palvelun oletusasetus</strong> on valittuna, palvelun pääkäyttäjän
vaihtaessa palvelun oletusteemaa, teemaa muuttuu myös instituution
käyttäjille.</p> 

