<h3>Lähetä viikoittaiset päivitykset</h3> 
<p>Jos valitset &quot;Lähetä viikoittaiset päivitykset&quot;,
ePortfolio-palvelu lähettää päivityksen automaattisesti kerran viikossa
asennuksessasi tehdyistä päivityksistä mahara.org -osoitteeseen.</p> 
<p>Lähetettävät tiedot ovat yleisluontoista tilastotietoa - henkilökohtaista
tietoa kenestäkään käyttäjästä ei lähetetä. Voit tutustua etukäteen millaista
tietoa lähetetään ennen kuin rekisteröit Mahara-palvelusi (minkä voi tehdä
pääkäyttäjän pääsivulta).</p> 

