<h3>Käyttäjillä sallittu useita instituutioita</h3> 
<p>Mikäli asetettu, käyttäjät voivat kuulua useampaan kuin yhteen instituutioon
kerralla. Käyttäjät voivat liittyä instituutioon koska vain, vaikkakin
instituution tulee hyväksyä pyynnöt ensin. Niinikään instituutioilla on
mahdollisuus kutsua käyttäjiä, mutta käyttäjien tulee hyväksyä pyyntö.</p> 
 
