<h3>Salli julkiset profiilit</h3> 
<p>Jos haluat antaa käyttäjille mahdollisuuden tehdä profiilisivun avoimeksi
yleisölle, määritä tämä asetus "kyllä". Vaikka asetukseksi on määritelty
julkinen, vain kirjautuneet käyttäjät voivat käyttää vuorovaikutteisia
ominaisuuksia kuten seinää.</p> 

