<h3>Roskapostin esto</h3>

<p>Julkisilla lomakkeilla (palaute, rekisteröinti yms.) on mahdollista käyttää kolmen tasoista roskapostin suodatusta.
Jos lähetetty lomake määritellään roskapostiksi, käyttäjälle annetaan aina asiasta ilmoitus ja pyydetään lähettämään lomake uudelleen.</p>

<p><b>Ei mitään: </b>Lomakkeita ei tarkisteta roskapostin varalta.</p>

<p><b>Suppea: </b>Suoritetaan perustarkistus. Lomake hylätään, jos se sisältää poikkeuksellisen paljon linkkejä, tai sähköpostiosoite ei ole oikean muotoinen.</p>

<p><b>Laaja: </b>(Vaatii yhteyden Internetiin). Tarkastetaan lisäksi, että linkit eivät ole mustalla listalla, ja että sähköpostiosoite on oikeasti olemassa.</p> 
