<h3>Varoitusaika instituution voimassaolon päättymiselle</h3> 
<p>Mikäli asetettu, varoitusviesti lähetetään palvelun ja instituution
pääkäyttäjille tässä asetetussa ajassa ennen kuin instituution voimassaolo
päättyy ja lukitus menee päälle. Aika voidaan määritellä päivissä, viikoissa,
vuosissa. Vaihtoehtona voi olla myös Ei lopetuspäivää, jolloin instituutiot
eivät saa varoitusviestiä ennen kuin heidän voimassaolo päättyy.</p>  

