<h3>Tilin oletuspassiivisuusaika</h3> 
<p>Mikäli asetettu, käyttäjät jotka eivät kirjaudu sisään tässä ajassa
luokitellaan "passiivisiksi" ja he eivät pysty kirjautumaan sisään. Aika
voidaan määritellä päivissä, viikoissa, tai vuosissa. Vaihtoehtona voi olla myös Ei
lopetuspäivää, jolloin tilit eivät passivoidu.</p> 

