<h3>Virustarkistus</h3> 
<p>Jos haluat, että kaikki käyttäjän lataamat tiedostot ajetaan
ClamAV-virusskannauksen läpi, virustarkistusasetus tulee olla valittuna. </p> 
<p>Sinulla tulee olla asennettuna ClamAV palvelimellesi. Monilla
Linux-jakelijoilla on <code>clamav</code> paketteja, tai voit ladata ja asentaa
sen <a href="http://www.clamav.net/">ClamAV internet-sivuilta</a>. 
 
