<h3>Istunnon kestoaika</h3> 
<p>Turvallisuussyiden vuoksi tietyn passiivisuusajanjakson jälkeen käyttäjä
automaattisesti kirjautuu ulos palvelusta. Istunnon kestoaika määrittää kuinka
monen minuutin jälkeen passiivinen käyttäjä kirjautuu ulos palvelusta.</p> 
 
