<h3>Polku clam-sovellukseen</h3> 
<p>Tiedostojärjestelmäpolku <code>clamscan</code> tai <code>clamdscan</code>
virustarkistusta varten. Oletuksena on, että epäonnistuminen clamin ajamisessa
tarkoittaa, että tiedostoa tulee kohdella viruksena ja karanteenihakemisto
asennetaan automaattisesti ePortfolio-palvelun toimesta.</p> 

