<h3>Päivitä</h3> 
<p>Valitse keskustelut laittamalla ruksi kunkin aiheen vasemmalla puolella
olevaan valintaruutuun ja valitse sen jälkeen kuinka haluat keskustelut
päivittää.</p> 
<p><strong>Tilaa</strong>: saat valituista keskusteluista viestin
Tiedotteisiin.</p> 
<p><strong>Peruuta tilaus</strong>: et saa enää viestejä valituista
keskusteluista Tiedotteisiin.</p> 

