<h3>Omat ryhmät</h3>

<p>Tällä sivulla listataan sinua koskevat ryhmät.</p>
<p>Näet ryhmät joihin kuulut ja ryhmät, joihin sinut on kutsuttu tai olet pyytänyt päästä jäseneksi.</p>
<p>Ryhmän jäsenenä voit julkaista portfoliosivujasi toisille jäsenille ja osallistua ryhmän toimintoihin esim. 
kirjoittamalla viestejä keskustelualueille.</p>
