<h3>Site Files</h3>

<p>The Site Files area works in nearly the same way as a user's Files area.
Files uploaded to this area are available to any logged in user and where
placed in the 'public' folder, are available to any user with the correct
URL.</p>

