<h3>Etäpalvelimelta kirjaudutaan sisään </h3> 
<p>Sallimalla tämän vaihtoehdon, käyttäjät etäpalvelmelta voivat kirjautua 
Mahara-palveluusi ilman käyttäjätunnusta ja salasanaa.</p> 
<h3> Tältä palvelimelta kirjaudutaan ulospäin</h3> 
<p>Sallimalla tämän vaihtoehdon, käyttäjät Maharasta voivat kirjautua
etäpalvelimelle.</p> 

