<h3>Päivitä käyttäjän tiedot kirjautumisen yhteydessä</h3> 
<p>Salli tämä vaihtoehto tuodaksesi käyttäjätietoa etäpalvelimelta
kirjautumisen yhteydessä ja päivitä käyttäjärekisteri mahdollisilla
muutoksilla.</p>

