<h3>Kirjautumisen virheilmoitus</h3> 
<p>Jos isäntävaltuuttajaa ei ole määritetty, käyttäjät voivat kirjautua
ainoastaan SSO:n kautta ja he eivät voi käyttää Maharan kirjautumislomaketta.</p> 
<p>Kirjoita käyttäjille näytettävä viesti tähän kun he yrittävät kirjautua
sisään käyttämällä Maharan kirjautumislomaketta. Viestin tulisi sisältää
ohjeet SSO-kirjautumiseen.</p>

