<h3>Isäntävaltuuttaja</h3> 
<p>Jos asetata isäntävaltuuttajan, käyttäjät voivat kirjautua sisään
käyttämällä kyseistä valtuutusta SSO:n lisäksi.</p> 
<p>Esimerkiksi voit asettaa LDAP-tunnistamisen ja sen tulee olla tämän
valtuutuksen isäntä. Se merkitsee sitä, että käyttäjät voivat kirjautua sisään
käyttämällä Maharaan sisäänrakennettua kirjautumislomaketta, joka käyttää
LDAP-henkilötietoja. Käyttäjät voivat kirjautua sisään SSO:n kautta käyttämällä
ulkoista valtuutusta.</p> 
<p>Sinun ei tarvitse asettaa isäntävaltuuttajaa. Jos et aseta, käyttäjät, jotka
käyttävät tätä valtuutusta voivat kirjautua Maharaan vain SSO:n kautta.</p> 

