<h3>Tavoitteeni</h3>


<p>Alue on jaettu kolmeen osaan: henkilökotaiset, koulutus- ja uratavoitteet. Näitä voit esitellä portfoliosivuillasi.</p>
<p>Ansioluettelossa on usein kerrottu henkilön tavoitteista, jotta työnantaja saa käsityksen miten hyvin haettava tehtävä vastaa hakijan pyrkimyksiin</p>
<p>Koulutustavoitteissa voit kertoa tavoitteista, joita koulutuksen kautta haluat saavuttaa.</p>
