<h3>Käyttäjätunnus/Salasana muistuttaja</h3> 
<p>Jos olet unohtanut käyttäjätunnuksen tai salasanan, palvelu voi lähettää
sinulle viestin, jossa on käyttäjätunnuksesi. Viestissä on linkki jota
klikkaamalla voit nollata salasanasi. Kirjoita käyttäjätunnuksesi tai
ensisijainen sähköpostiosoitteesi annettuun kenttään ja klikkaa "Lähetä
pyyntö". Saat automaattisesti sähköpostin. Vaihtaaksesi salasanan, klikkaa
linkkiä sähköpostissasi vahvistaaksesi nollauspyynnön.</p>
<p><strong>Varoitus:</strong> Jos saat salasanan vaihtoon liittyvän sähköpostin
jota et ole pyytänyt, se voi olla väärennös. Älä klikkaa mitään linkkejä
tällaisissa sähköposteissa.</p> 

