<h3>Avainsanat</h3>


<p>
Voit lisätä avainsanoja tuotoksiisi ja sivuihisi. Nämä mahdollistavat
luomasi sisällön luokittelun. 
</p>

<p>
Jos haluat käyttää useaa avainsanaa, erota ne toisistaan pilkulla.
Esimerkki: "arviointi, syksy, hallinto".
</p>

<p>
<b>"Näytä avainsanani"</b> -linkki näyttää aikaisemmin käyttämäsi sanat
ja kuinka moneen kohteeseen ne on liitetty. Olemassa olevaa avainsanaa
klikkamalla saat liitettyä sen muokattavaan kohteeseen.
</p>

<p>
<b>"Etsi portfoliostani"</b> -toiminnolla voit hakea luomaasi sisältöä
avainsanojen perusteella.
</p>
