<h3>Viestityypit</h3>

<p>Valitse, minkä tyyppiset viestit näytetään.</p>

<p><strong>Uudet foorumiviestit:</strong> uudet viestit tilaamissasi viestiketjuissa</p>
<p><strong>Palaute:</strong> Tiedote palautteesta tai kommentista, joka koskee sivua, tuotosta tai blogia ePortfoliossasi.</p> 
<p><strong>Ryhmäviesti:</strong> Tiedotteet ryhmien omistajille uusista sivuista, jotka on jätetty arvioitaviksi ryhmiin.</p>
<p><strong>Järjestelmän viesti:</strong> Järjestelmän automaattisesti tuottama tai ylläpidon lähettämä tiedote.</p> 
<p><strong>Viestit muilta käyttäjiltä:</strong> Toisten käyttäjien lähettämät viestit.</p> 
<p><strong>Uusi katseluoikeus sivuun:</strong> Tiedote, kun sinulle tai ryhmällesi on annettu katseluoikeus uuteen tai olemassa olevaan ei-julkiseen näkymään.</p> 
<p><strong>Seurantalista:</strong> Tiedote muutoksista tuotoksissa, sivuissa, ryhmissä tai blogeissa joita seuraat.</p>

