<h3>Odotustilassa olevat jäsenyyspyynnöt</h3> 
<p>Riippuen siitä minkä jäsenyystilan olet valinnut yhteisöillesi,
odotustilassa olevat jäsenyyspyynnöt listataan tähän. Saat myös tiedon uusista
pyynnöistä Tiedotteiden kautta. Kun hyväksyt tai hylkäät kunkin
jäsenyyspyynnön, käyttäjää tiedotetaan päätöksestäsi.</p> 

